[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
k3d = "*"
matplotlib = "*"
symforce-sym = "*"
jupyter = "*"
pyvista = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3"
